      <ion-view title="Study Setup">
          <ion-pane>
          <ion-content>

            <div class="row">
                <div class="col"><i class="fa fa-calendar fa-3x"></i></div>
                <div class="col col-80"><h3 class="title">Setup a new study</h3></div>
            </div>      
            <div class="ten-padding">      
              <p>This app will guide you through self-studies to see whether eating certain food affects your symptoms.</p>
              <p>During this study, you will be asked to eat certain foo on some days and not eat that food on other days. We will aslo help you track your symptoms by sending you daily remiinders to log them.</p>


          <a class="button button-block button-energized" ui-sref="setup2">
            Let's Begin! &nbsp<i class="fa fa-chevron-right x3"></i>
          </a>
          </div>
          </ion-content>  
          </ion-pane>
      </ion-view>