      <ion-view title="Study Setup (2 of 4)">
          <ion-pane>
          <ion-content>   
            <div class="ten-padding">      
              <h3 class="title">2. Choose a Possible Cause</h3>
              <p>Which possible trigger do you want to test? <i class="fa fa-info-circle x2"></i></p>

              <ul class="list">
                <li class="item" class="button button-clear button-dark" ui-sref="#">Eating Large Meals <i class="fa fa-info x2"></i></li>
                <li class="item" class="button button-clear button-dark" ui-sref="setup3_2">Eating Lactose / Dairy <i class="fa fa-info x2"></i></li>
                <li class="item" class="button button-clear button-dark" ui-sref="#">Drinking Caffeine <i class="fa fa-info x2"></i></li>
                <li class="item" class="button button-clear button-dark" ui-sref="#">Eating Gluten <i class="fa fa-info x2  "></i></li>
              </ul>

          <a class="button button-block button-energized" ui-sref="setup4">
            Continue &nbsp<i class="fa fa-chevron-right x3"></i>
          </a>

          </div>

          </ion-content>  
          </ion-pane>
      </ion-view>