<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.IBSTestV2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>IBSTestV2</name>
  <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
  </author>
  <platform name="ios">
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch -->
    <icon src="resources/ios/icons/ios/icon-60.png" width="60" height="60" />
    <icon src="resources/ios/ios/icon-60@2x.png" width="120" height="120" />
    <splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
  </platform>
  <preference name="SplashScreenDelay" value="5000" />
  <content src="index.html"/>
  <access origin="*"/>

</widget>

